@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_default_styles {
  --mixin-8KbhBgGdrUl3_font-family: "Inter";
  --mixin-8KbhBgGdrUl3_font-size: 16px;
  --mixin-8KbhBgGdrUl3_font-weight: 400;
  --mixin-8KbhBgGdrUl3_font-style: normal;
  --mixin-8KbhBgGdrUl3_color: #535353;
  --mixin-8KbhBgGdrUl3_text-align: left;
  --mixin-8KbhBgGdrUl3_text-transform: none;
  --mixin-8KbhBgGdrUl3_line-height: 1.5;
  --mixin-8KbhBgGdrUl3_letter-spacing: normal;
  --mixin-8KbhBgGdrUl3_white-space: pre-wrap;
  --mixin-8KbhBgGdrUl3_user-select: text;
  --mixin-8KbhBgGdrUl3_text-decoration-line: none;
  --mixin-8KbhBgGdrUl3_text-overflow: clip;
  --mixin-otGZYyTOxe5L_color: #000000;
  --mixin-otGZYyTOxe5L_font-weight: 900;
  --mixin-otGZYyTOxe5L_font-size: 72px;
  --mixin-otGZYyTOxe5L_line-height: 1;
  --mixin-otGZYyTOxe5L_letter-spacing: -4px;
  --mixin-dl_tODmaw_Q1_font-family: "Inter";
  --mixin-dl_tODmaw_Q1_color: #000000;
  --mixin-dl_tODmaw_Q1_font-size: 48px;
  --mixin-dl_tODmaw_Q1_font-weight: 700;
  --mixin-dl_tODmaw_Q1_letter-spacing: -1px;
  --mixin-dl_tODmaw_Q1_line-height: 1.1;
  --mixin-jlFdYbW846MV_color: #0070f3;
  --mixin-LgqwzW2zKXNe_font-family: "Inter";
  --mixin-LgqwzW2zKXNe_color: #000000;
  --mixin-LgqwzW2zKXNe_font-size: 32px;
  --mixin-LgqwzW2zKXNe_font-weight: 600;
  --mixin-LgqwzW2zKXNe_letter-spacing: -0.8px;
  --mixin-LgqwzW2zKXNe_line-height: 1.2;
  --mixin-1nWbPNpCTvNb_font-family: "Inter";
  --mixin-1nWbPNpCTvNb_color: #000000;
  --mixin-1nWbPNpCTvNb_font-size: 24px;
  --mixin-1nWbPNpCTvNb_font-weight: 600;
  --mixin-1nWbPNpCTvNb_letter-spacing: -0.5px;
  --mixin-1nWbPNpCTvNb_line-height: 1.3;
  --mixin-sgjspLzxbCj3_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-sgjspLzxbCj3_border-bottom-color: #dddddd;
  --mixin-sgjspLzxbCj3_border-bottom-style: solid;
  --mixin-sgjspLzxbCj3_border-bottom-width: 1px;
  --mixin-sgjspLzxbCj3_border-left-color: #dddddd;
  --mixin-sgjspLzxbCj3_border-left-style: solid;
  --mixin-sgjspLzxbCj3_border-left-width: 1px;
  --mixin-sgjspLzxbCj3_border-right-color: #dddddd;
  --mixin-sgjspLzxbCj3_border-right-style: solid;
  --mixin-sgjspLzxbCj3_border-right-width: 1px;
  --mixin-sgjspLzxbCj3_border-top-color: #dddddd;
  --mixin-sgjspLzxbCj3_border-top-style: solid;
  --mixin-sgjspLzxbCj3_border-top-width: 1px;
  --mixin-sgjspLzxbCj3_border-bottom-left-radius: 3px;
  --mixin-sgjspLzxbCj3_border-bottom-right-radius: 3px;
  --mixin-sgjspLzxbCj3_border-top-left-radius: 3px;
  --mixin-sgjspLzxbCj3_border-top-right-radius: 3px;
  --mixin-sgjspLzxbCj3_font-family: "Inconsolata";
  --mixin-sgjspLzxbCj3_padding-bottom: 1px;
  --mixin-sgjspLzxbCj3_padding-left: 4px;
  --mixin-sgjspLzxbCj3_padding-right: 4px;
  --mixin-sgjspLzxbCj3_padding-top: 1px;
  --mixin-2M3j6VDgy9mv_border-left-color: #dddddd;
  --mixin-2M3j6VDgy9mv_border-left-style: solid;
  --mixin-2M3j6VDgy9mv_border-left-width: 3px;
  --mixin-2M3j6VDgy9mv_color: #888888;
  --mixin-2M3j6VDgy9mv_padding-left: 10px;
  --mixin-519aW3G15c2r_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-519aW3G15c2r_border-bottom-color: #dddddd;
  --mixin-519aW3G15c2r_border-bottom-style: solid;
  --mixin-519aW3G15c2r_border-bottom-width: 1px;
  --mixin-519aW3G15c2r_border-left-color: #dddddd;
  --mixin-519aW3G15c2r_border-left-style: solid;
  --mixin-519aW3G15c2r_border-left-width: 1px;
  --mixin-519aW3G15c2r_border-right-color: #dddddd;
  --mixin-519aW3G15c2r_border-right-style: solid;
  --mixin-519aW3G15c2r_border-right-width: 1px;
  --mixin-519aW3G15c2r_border-top-color: #dddddd;
  --mixin-519aW3G15c2r_border-top-style: solid;
  --mixin-519aW3G15c2r_border-top-width: 1px;
  --mixin-519aW3G15c2r_border-bottom-left-radius: 3px;
  --mixin-519aW3G15c2r_border-bottom-right-radius: 3px;
  --mixin-519aW3G15c2r_border-top-left-radius: 3px;
  --mixin-519aW3G15c2r_border-top-right-radius: 3px;
  --mixin-519aW3G15c2r_font-family: "Inconsolata";
  --mixin-519aW3G15c2r_padding-bottom: 3px;
  --mixin-519aW3G15c2r_padding-left: 6px;
  --mixin-519aW3G15c2r_padding-right: 6px;
  --mixin-519aW3G15c2r_padding-top: 3px;
  --mixin-Jg-fq_CDCCeRS_display: flex;
  --mixin-Jg-fq_CDCCeRS_flex-direction: column;
  --mixin-Jg-fq_CDCCeRS_align-items: stretch;
  --mixin-Jg-fq_CDCCeRS_justify-content: flex-start;
  --mixin-Jg-fq_CDCCeRS_list-style-position: outside;
  --mixin-Jg-fq_CDCCeRS_padding-left: 40px;
  --mixin-Jg-fq_CDCCeRS_position: relative;
  --mixin-Jg-fq_CDCCeRS_list-style-type: disc;
  --mixin-2vdwhpUuiranp_display: flex;
  --mixin-2vdwhpUuiranp_flex-direction: column;
  --mixin-2vdwhpUuiranp_align-items: stretch;
  --mixin-2vdwhpUuiranp_justify-content: flex-start;
  --mixin-2vdwhpUuiranp_list-style-position: outside;
  --mixin-2vdwhpUuiranp_padding-left: 40px;
  --mixin-2vdwhpUuiranp_position: relative;
  --mixin-2vdwhpUuiranp_list-style-type: decimal;
  --mixin-0blGQNxcpBOh5_font-family: "Inter";
  --mixin-0blGQNxcpBOh5_color: #000000;
  --mixin-0blGQNxcpBOh5_font-size: 20px;
  --mixin-0blGQNxcpBOh5_font-weight: 600;
  --mixin-0blGQNxcpBOh5_letter-spacing: -0.3px;
  --mixin-0blGQNxcpBOh5_line-height: 1.5;
  --mixin-9iwvPvSh8Cg28_font-family: "Inter";
  --mixin-9iwvPvSh8Cg28_color: #000000;
  --mixin-9iwvPvSh8Cg28_font-size: 16px;
  --mixin-9iwvPvSh8Cg28_font-weight: 600;
  --mixin-9iwvPvSh8Cg28_line-height: 1.5;
  --mixin-lNrwtYL-Sp4vd_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-8KbhBgGdrUl3_font-family);
  font-size: var(--mixin-8KbhBgGdrUl3_font-size);
  font-weight: var(--mixin-8KbhBgGdrUl3_font-weight);
  font-style: var(--mixin-8KbhBgGdrUl3_font-style);
  color: var(--mixin-8KbhBgGdrUl3_color);
  text-align: var(--mixin-8KbhBgGdrUl3_text-align);
  text-transform: var(--mixin-8KbhBgGdrUl3_text-transform);
  line-height: var(--mixin-8KbhBgGdrUl3_line-height);
  letter-spacing: var(--mixin-8KbhBgGdrUl3_letter-spacing);
  white-space: var(--mixin-8KbhBgGdrUl3_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-otGZYyTOxe5L_color);
  font-weight: var(--mixin-otGZYyTOxe5L_font-weight);
  font-size: var(--mixin-otGZYyTOxe5L_font-size);
  line-height: var(--mixin-otGZYyTOxe5L_line-height);
  letter-spacing: var(--mixin-otGZYyTOxe5L_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-dl_tODmaw_Q1_font-family);
  color: var(--mixin-dl_tODmaw_Q1_color);
  font-size: var(--mixin-dl_tODmaw_Q1_font-size);
  font-weight: var(--mixin-dl_tODmaw_Q1_font-weight);
  letter-spacing: var(--mixin-dl_tODmaw_Q1_letter-spacing);
  line-height: var(--mixin-dl_tODmaw_Q1_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-jlFdYbW846MV_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-LgqwzW2zKXNe_font-family);
  color: var(--mixin-LgqwzW2zKXNe_color);
  font-size: var(--mixin-LgqwzW2zKXNe_font-size);
  font-weight: var(--mixin-LgqwzW2zKXNe_font-weight);
  letter-spacing: var(--mixin-LgqwzW2zKXNe_letter-spacing);
  line-height: var(--mixin-LgqwzW2zKXNe_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-1nWbPNpCTvNb_font-family);
  color: var(--mixin-1nWbPNpCTvNb_color);
  font-size: var(--mixin-1nWbPNpCTvNb_font-size);
  font-weight: var(--mixin-1nWbPNpCTvNb_font-weight);
  letter-spacing: var(--mixin-1nWbPNpCTvNb_letter-spacing);
  line-height: var(--mixin-1nWbPNpCTvNb_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-sgjspLzxbCj3_background);
  font-family: var(--mixin-sgjspLzxbCj3_font-family);
  border-radius: var(--mixin-sgjspLzxbCj3_border-top-left-radius)
    var(--mixin-sgjspLzxbCj3_border-top-right-radius)
    var(--mixin-sgjspLzxbCj3_border-bottom-right-radius)
    var(--mixin-sgjspLzxbCj3_border-bottom-left-radius);
  padding: var(--mixin-sgjspLzxbCj3_padding-top)
    var(--mixin-sgjspLzxbCj3_padding-right)
    var(--mixin-sgjspLzxbCj3_padding-bottom)
    var(--mixin-sgjspLzxbCj3_padding-left);
  border-top: var(--mixin-sgjspLzxbCj3_border-top-width)
    var(--mixin-sgjspLzxbCj3_border-top-style)
    var(--mixin-sgjspLzxbCj3_border-top-color);
  border-right: var(--mixin-sgjspLzxbCj3_border-right-width)
    var(--mixin-sgjspLzxbCj3_border-right-style)
    var(--mixin-sgjspLzxbCj3_border-right-color);
  border-bottom: var(--mixin-sgjspLzxbCj3_border-bottom-width)
    var(--mixin-sgjspLzxbCj3_border-bottom-style)
    var(--mixin-sgjspLzxbCj3_border-bottom-color);
  border-left: var(--mixin-sgjspLzxbCj3_border-left-width)
    var(--mixin-sgjspLzxbCj3_border-left-style)
    var(--mixin-sgjspLzxbCj3_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-2M3j6VDgy9mv_color);
  padding-left: var(--mixin-2M3j6VDgy9mv_padding-left);
  border-left: var(--mixin-2M3j6VDgy9mv_border-left-width)
    var(--mixin-2M3j6VDgy9mv_border-left-style)
    var(--mixin-2M3j6VDgy9mv_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-519aW3G15c2r_background);
  font-family: var(--mixin-519aW3G15c2r_font-family);
  border-radius: var(--mixin-519aW3G15c2r_border-top-left-radius)
    var(--mixin-519aW3G15c2r_border-top-right-radius)
    var(--mixin-519aW3G15c2r_border-bottom-right-radius)
    var(--mixin-519aW3G15c2r_border-bottom-left-radius);
  padding: var(--mixin-519aW3G15c2r_padding-top)
    var(--mixin-519aW3G15c2r_padding-right)
    var(--mixin-519aW3G15c2r_padding-bottom)
    var(--mixin-519aW3G15c2r_padding-left);
  border-top: var(--mixin-519aW3G15c2r_border-top-width)
    var(--mixin-519aW3G15c2r_border-top-style)
    var(--mixin-519aW3G15c2r_border-top-color);
  border-right: var(--mixin-519aW3G15c2r_border-right-width)
    var(--mixin-519aW3G15c2r_border-right-style)
    var(--mixin-519aW3G15c2r_border-right-color);
  border-bottom: var(--mixin-519aW3G15c2r_border-bottom-width)
    var(--mixin-519aW3G15c2r_border-bottom-style)
    var(--mixin-519aW3G15c2r_border-bottom-color);
  border-left: var(--mixin-519aW3G15c2r_border-left-width)
    var(--mixin-519aW3G15c2r_border-left-style)
    var(--mixin-519aW3G15c2r_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-Jg-fq_CDCCeRS_display);
  flex-direction: var(--mixin-Jg-fq_CDCCeRS_flex-direction);
  align-items: var(--mixin-Jg-fq_CDCCeRS_align-items);
  justify-content: var(--mixin-Jg-fq_CDCCeRS_justify-content);
  list-style-position: var(--mixin-Jg-fq_CDCCeRS_list-style-position);
  padding-left: var(--mixin-Jg-fq_CDCCeRS_padding-left);
  position: var(--mixin-Jg-fq_CDCCeRS_position);
  list-style-type: var(--mixin-Jg-fq_CDCCeRS_list-style-type);
  flex-column-gap: var(--mixin-Jg-fq_CDCCeRS_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-2vdwhpUuiranp_display);
  flex-direction: var(--mixin-2vdwhpUuiranp_flex-direction);
  align-items: var(--mixin-2vdwhpUuiranp_align-items);
  justify-content: var(--mixin-2vdwhpUuiranp_justify-content);
  list-style-position: var(--mixin-2vdwhpUuiranp_list-style-position);
  padding-left: var(--mixin-2vdwhpUuiranp_padding-left);
  position: var(--mixin-2vdwhpUuiranp_position);
  list-style-type: var(--mixin-2vdwhpUuiranp_list-style-type);
  flex-column-gap: var(--mixin-2vdwhpUuiranp_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-0blGQNxcpBOh5_font-family);
  color: var(--mixin-0blGQNxcpBOh5_color);
  font-size: var(--mixin-0blGQNxcpBOh5_font-size);
  font-weight: var(--mixin-0blGQNxcpBOh5_font-weight);
  letter-spacing: var(--mixin-0blGQNxcpBOh5_letter-spacing);
  line-height: var(--mixin-0blGQNxcpBOh5_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-9iwvPvSh8Cg28_font-family);
  color: var(--mixin-9iwvPvSh8Cg28_color);
  font-size: var(--mixin-9iwvPvSh8Cg28_font-size);
  font-weight: var(--mixin-9iwvPvSh8Cg28_font-weight);
  line-height: var(--mixin-9iwvPvSh8Cg28_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-lNrwtYL-Sp4vd_color);
}
